<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-6">
            <h2>参加者一覧</h2>
            <textarea @bind="UserInput" @bind:event="oninput" class="form-control h-75 mt-4"></textarea>
        </div>
        <div class="col-md-6">
            <h2>シャッフル結果</h2>
            <div class="mt-4">
                <ul class="list-group">
                    @foreach (var line in Lines)
                    {
                        <li class="list-group-item">@line</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public required ShuffleWordService Shuffler { get; set; }

    private string _userInput = string.Empty;
    public string[] Lines { get; set; } = [];
    public string UserInput
    {
        get => _userInput;
        set
        {
            _userInput = value;
            // 参加者名をシャッフル
            Lines = Shuffler.Shuffle(_userInput.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries));
        }
    }
}
