@inherits LayoutComponentBase
<div class="page h-100">
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4 h-100">
            @Body
        </article>
    </main>
</div>
